.headerContainer{


    ul{
        display: block;
        list-style: none;
        float: left;
        margin:0;
        padding:0;
        li{
            float: left;
            padding-left: 25px;

            &:nth-child(1){
                padding-left: 0;
            }
         
        }
    }
}